---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% include base_path %}

{% for post in site.talks reversed %}
  <div class="list__item">
    <article class="archive__item">
      <h2 class="archive__item-title">{{ post.title }}</h2>
      <p>{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}{% if post.location %}, {{ post.location }}{% endif %}</p>
      {{ post.content }}
    </article>
  </div>
{% endfor %}
